body {
    background-color: #a1a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#box{
    background-color: aquamarine;
    width: 500px;
    padding: 15px;
    margin-bottom: 15px;
}